[Unit]
Description=sausage-store frontend

[Service]
User={{ frontend_user }}
Group={{ frontend_usergroup }}
StandardOutput=file:{{ frontend_log_dir }}/front.out.log
StandardError=file:{{ frontend_log_dir }}/front.err.log
Restart=always

ExecStart=sudo /usr/bin/http-server {{frontend_work_dir }}/public_html/ -p {{ frontend_port }} --proxy http://{{ backend_ip }}:{{ backend_port }}

[Install]
WantedBy=multi-user.target
