[Unit]
Description=sausage-store backend

[Service]
User={{ backend_user }}
Group={{ backend_usergroup }}
Environment=REPORT_PATH={{ backend_reports_dir }}
Environment=LOG_PATH={{ backend_log_dir }}
StandardOutput=file:{{ backend_log_dir }}/backend.out.log
StandardError=file:{{ backend_log_dir }}/backend.err.log
Restart=always
SuccessExitStatus=143

ExecStart=/usr/bin/java -Xrs \
-Dmyserver.basePath='{{ backend_work_dir }}' \
-Dmyserver.bindAddr='{{ backend_ip }}' \
-Dmyserver.bindPort='{{ backend_port }}' \
-Dmyserver.hostName='{{ backend_hostname }}' \
-jar '{{ backend_work_dir }}/sausage-store.jar'

[Install]
WantedBy=multi-user.target
